
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 96%;
    --foreground: 210 29% 24%;

    --card: 0 0% 100%;
    --card-foreground: 210 29% 24%;

    --popover: 0 0% 100%;
    --popover-foreground: 210 29% 24%;

    --primary: 9 86% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 39 100% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 29% 24%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 0 0% 91%;
    --input: 0 0% 91%;
    --ring: 9 86% 57%;

    --radius: 0.75rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    --background: 210 29% 24%;
    --foreground: 0 0% 95%;

    --card: 210 29% 24%;
    --card-foreground: 0 0% 95%;

    --popover: 210 29% 24%;
    --popover-foreground: 0 0% 95%;

    --primary: 9 86% 57%;
    --primary-foreground: 0 0% 100%;

    --secondary: 39 100% 51%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 29% 29%;
    --muted-foreground: 0 0% 80%;

    --accent: 210 29% 34%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 210 29% 29%;
    --input: 210 29% 29%;
    --ring: 9 86% 57%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-neutral text-dark font-sans;
  }
}

@layer utilities {
  .chaka-container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }
}
